/* The NavBar CSS  */

nav {
    display: flex;
    justify-items: center;
    padding: 25px;
}

.links {
    display: flex;
    justify-items: center;
    align-self: center;
    padding-top: 5px;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: smaller;
}

.header-items {
    display: grid;
    justify-items: center;
    align-self: center;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.logo {
    width: fit-content;
    height: 60px;
    margin: auto;
}

.search {
    border-radius: 9999px;
    outline: none;
    width: 60vh;
    padding: 20px;
    border: 2px solid #FE7306;
    background-image: linear-gradient(#FE7306, #FE4B1A);
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.right-nav {
    margin: auto;
}

.icon {
    height: 30px;
    width: 30px;
}

.right-icons {
    display: flex;
    gap: 20px;
}


/* The Body CSS  */

body {
    margin: 0%;
    color: white;
}

main {
    padding: 5;
}

.bg {
    min-height: 100vh;
    background-image: url('/tomb-rider.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}