/* The NavBar CSS  */

nav {
  display: flex;
  position: relative;
  justify-items: center;
  padding: 25px;
}

.links {
  display: flex;
  justify-items: center;
  align-self: center;
  padding-top: 5px;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.header-items {
  display: grid;
  justify-items: center;
  align-self: center;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.logo {
  width: fit-content;
  height: 60px;
  margin: auto;
}


.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #765A32, #1A2814);
}

.sr-text {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: smaller;
  color: white;
  pointer-events: none;
}

.search-box {
  display: flex;
  position: relative;
  min-width: 60vh;
}

.search {
  width: 100%;
  border-radius: 9999px;
  outline: none;
  padding: 20px;
  border: 0px solid #FE7306;
  background-image: linear-gradient(to right, #FE7306, #FE4B1A);
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search::-webkit-search-cancel-button {
  display: none;
}

.menu {
  width: 100%;
  position: relative;
  display: flex;
  justify-items: between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 0px solid #FE7306;

}

.menu-btn {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.srch-btn {
  background-color: #FE7306;
  border-radius: 100%;
  outline: none;
  border: none;
  width: 100%;
  padding: 20px;
  color: white;
}

.menu-btn:hover {
  color: red;
}

.right-nav {
  margin: auto;
}

.icon {
  height: 30px;
  width: 30px;
  color: white
}

.menu-icon {
  height: 25px;
  width: 25px;
}

.icon:hover {
  color: red;
}

.right-icons {
  margin: auto;
  display: flex;
  gap: 20px;
}

header {
  max-width: 30vh;
}

.header-cont {
  width: 100%;
  max-width: 60vh;
  margin: auto;
}

/* The Body CSS  */
body {
  margin: 0%;
  color: white;
  position: relative;
  background-size: cover;
  /* max-height: 100vh; */
  background-image: url('/tomb-rider.jpg');
  /* background-size: 100% auto; */
  background-repeat: no-repeat;
  background-position: center center;
}

.the-main {
  position: relative;
  width: 100%;
  /* height: 40vh; */
  /* Set an appropriate height */
  background-image: url('/logos/ef-bg.svg');
  background-size: cover;
  background-position: top;
}

.main-cont {
  position: relative;
  height: 100%;
  align-items: start;
  display: grid;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
}

.trend-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}

.trend-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-cont h2 {
  margin: 0;
}

.trend-cont button {
  padding: 5px 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


footer {
  color: white;
}