/* The NavBar CSS  */

nav {
  display: flex;
  position: relative;
  justify-items: center;
  padding: 20px;
}

.links {
  display: flex;
  justify-items: center;
  align-self: center;
  padding-top: 5px;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.header-items {
  display: grid;
  justify-items: center;
  align-self: center;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.logo {
  width: fit-content;
  height: 60px;
  margin: auto;
}


.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #765A32, #1A2814);
}

.sr-text {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: smaller;
  color: white;
  pointer-events: none;
}

.search-box {
  display: flex;
  position: relative;
  min-width: 60vh;
}

.search {
  width: 100%;
  border-radius: 9999px;
  outline: none;
  padding: 20px;
  border: 0px solid #FE7306;
  background-image: linear-gradient(to right, #FE7306, #FE4B1A);
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search::-webkit-search-cancel-button {
  display: none;
}

.menu {
  width: 100%;
  position: relative;
  display: flex;
  justify-items: between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 0px solid #FE7306;

}

.menu-btn {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.srch-btn {
  background-color: #FE7306;
  border-radius: 100%;
  outline: none;
  border: none;
  width: 100%;
  padding: 20px;
  color: white;
}

.srch-btn:hover {
  background-color: red;
  cursor: pointer;
}

.menu-btn:hover {
  color: red;
}

.right-nav {
  margin: auto;
}

.icon {
  height: 30px;
  width: 30px;
  color: white
}

.menu-icon {
  height: 25px;
  width: 25px;
}

.icon:hover {
  color: red;
}

.right-icons {
  margin: auto;
  display: flex;
  gap: 20px;
}

header {
  max-width: 50vh;
  align-content: center;
  align-items: center;
  /* display: grid; */
}

h2 {
  font-weight: normal;
  font-size: xx-large;
}

.header-cont {
  position: relative;
  width: 100%;
  max-width: 80%;
  justify-self: center;
}

.head-card {
  max-width: 30%;
  border-radius: 0.475rem;
  position: absolute;
  justify-self: center;
  margin: auto;
  padding: 20px;
  margin-left: 40px;
  background-color: #222C17AA;
  backdrop-filter: blur(8px);
  width: 100%;
  height: fit-content;
}

.platform {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  border-radius: 0.375rem;
}

.platform p {
  font-size: x-small;
}

.plat {
  border-radius: 9999px;
  font-size: small;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0 10px;
  gap: 10px;  
}
.plat img {
  border-radius: 100%;
  background-color: #FFAB00;
}
.plat:hover {
  backdrop-filter: blur(8px);
  background: rgba(246, 245, 245, 0.2);
}

.platform-logo {
  height: 150px;
  width: 150px;
}

.platforms {
  padding: 20px;
  display: grid;
  gap:10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: start;
}

/* The Body CSS  */
body {
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  background-size: cover;
  min-height: 100vh;
  background-image: url('/tomb-rider.jpg');
  /* background-size: 100% auto; */
  background-repeat: no-repeat;
  background-position: center center;
}

.main-cont {
  position: relative;
  align-items: start;
  display: grid;
  height: fill;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
}

.bg {
  min-height: 100vh;
}

.trending {
  display: grid;
  align-content: end;
  background-size: cover;
  background-image: url('/logos/ef-bg.svg');
  background-repeat: no-repeat;
  background-position: top;
  height: 53vh;
  /* width: fit-content; */
}

.trending-cont {
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  max-width: 60%;
  width: 100%;
  margin: auto;
  gap: 20px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

footer {
  color: white;
}

.title {
  padding: 20px 0;
  position: relative;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  width: 100%;
  margin: auto;
  align-items: center;
}

.card {
  /* padding: 10px; */
  display: grid;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view {
  height: 40px;
  padding: 0 10px;
  border-radius: 0.375rem;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: rgba(0, 0, 0, 1);
}

.title h3 {
  font-size: x-large;
}

.banner-text {
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner-text span {
  font-size: larger;
}

.days {
  font-size: x-small;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
  width: fit-content;
}

.img-box {
  position: relative;
}

.img-card {
  border-radius: 0.375rem;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.dis-tag {
  position: absolute;
  height: auto;
  width: 100%;
  left: -1%;
  top: 88%;
}